<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>E-Learning : Signup</title>
</head>
<style>
    body {
        background-color: rgba(0, 255, 255, 0.247);

    }

    .container {
        background-color: rgba(252, 255, 47, 0.699);
        border-radius: 20px;
    }

    .main_header_left {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .main_header_right {
        height: 30rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    figure {
        filter: drop-shadow(0 0.5rem 0.4rem rgba(0, 0, 0, 0.65));
    }

    a {
        text-decoration: none;
        color: white;
    }

    .btn {
        box-shadow: 4px 4px #888888;
    }

    .btn:hover {
        background-color: white;
        font-size: 110%;
        color: blue;
    }
</style>

<body>
    <div class="row mx-5 my-3 container" style="padding: 100px;">
        <div class="col-md-6 col-12 main_header_left">
            <figure>
                <img src="signup.png" height="350px" alt="">
            </figure>
        </div>
        <div class="col-md-6 col-12 main_header_right">
            <h1>Signup</h1>
            <br>
            <form action="\signup" method="post">
                <div class="mb-3 row">
                    <label for="staticName" class="col-sm-3 col-form-label">Full Name</label>
                    <div class="col-sm-10" style="width: 400px;">
                        <input type="text" class="form-control" id="staticName" placeholder="Full Name" name="fullname">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-10" style="width: 400px;">
                        <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com"
                            name="myemail">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticGender" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-10" style="width: 400px;">
                        <select class="form-select" aria-label="Default select example" name="mygender">
                            <option selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticGender" class="col-sm-3 col-form-label">Course</label>
                    <div class="col-sm-10" style="width: 400px;">
                        <select class="form-select" aria-label="Default select example" name="mycourse">
                            <option selected>Select Course</option>
                            <option value="IIT-JEE">IIT-JEE</option>
                            <option value="NEET">NEET</option>
                            <option value="AIMS">AIMS</option>
                            <option value="UPSC">UPSC</option>
                            <option value="NDA">NDA</option>
                            <option value="Class 6">Class 6</option>
                            <option value="Class 7">Class 7</option>
                            <option value="Class 8">Class 8</option>
                            <option value="Class 9">Class 9</option>
                            <option value="Class 10">Class 10</option>
                            <option value="Class 11">Class 11</option>
                            <option value="Class 12">Class 12</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-10" style="width: 400px;">
                        <input type="password" class="form-control" placeholder="password" name="myPassword">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-10" style="width: 400px;">
                        <input type="password" class="form-control" placeholder=" confirm password"
                            name="myConPassword">
                    </div>
                </div>
                <a href="login" style="color: blue;">Already have an account? Login</a>
                <br>
                <button type="submit" class="btn btn-primary">Generate OTP</button>
            </form>
        </div>
        <h3>After the process of signup you will recieve an OTP in your mail ID.</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
<script>
        let staticEmail = document.getElementById("staticEmail");
    let OTP = document.getElementById("OTP");
    OTP.addEventListener("click", () => {
        const otp = Math.round(1000 + (9999 - 1000) * (Math.random()));
        console.log(otp);
        console.log(staticEmail.value);
    })
</script>
</html>